.icon-container {
    border-radius: 50%;
    padding: 8px;
    width: 40px;
    height: 40px;
    transition: background-color 0.3s ease-in-out;
}


.RiveContainer{
    width: 300px;
    height: 200px;
    margin-top: -80px;
    margin-bottom: -7px;
}

.image-icon{
    height: 25px;
    width: 25px;
    
    border-radius: 50%;
    transition: background-color 0.3s ease-in-out;

}

.image-icon:hover{
    background-color: #1e1e1e;
}

::-webkit-scrollbar{
    width: 7px;
}


::-webkit-scrollbar-track{
    background-color: #1e1e1e;
}
::-webkit-scrollbar-thumb{
    background-color: #888;
}

::-webkit-scrollbar-thumb:hover{
    background-color: #555;
}


